<!DOCTYPE html>
<html>
  <head>
    <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
    <title>ApplicationTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
  <div class="container">
  <div class="jumbotron-fluid">
    <header>
    
      <%= render 'layouts/navigation' %>
    </header>
    
    <main role="main">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>

    <footer class="branding">    
      <br><br>
      <small>&copy; 2020 <strong>Job Application Tracker</strong><img src="favicon.ico?"/></small>
    </footer>

  </body>
</html>
